.play-container {
  width: 120px;
  height: 120px;
  background-color: #e42a2a;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.play-container.inactive {
  background-color: #5e5e5e; /* Grey color before clicking */
}

.play-container.paused {
  border-radius: 50%; /* Makes it round when paused */
}

.status-icon {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-square {
  width: 20px;
  height: 20px;
  background-color: #e42a2a;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 10px solid white;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  transform: rotate(90deg); /* Rotate to make the triangle point left */
}

.plus-icon {
  width: 20px;
  height: 20px;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plus-icon::before {
  content: "+";
  font-size: 16px;
  color: white;
}
