.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #cd0505;
  border-radius: 12px;
  width: 130px;
  height: 130px;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: all 0.3s ease-in-out;
}

.timer-display {
  font-size: 1.8rem;
  //font-weight: bold;
  margin-bottom: 15px;
}

.status-icon {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%; /* Circular shape */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.square-icon {
  width: 16px;
  height: 16px;
  background-color: #c90707;
}

.triangle-icon {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 18px solid #e42a2a;
}
